/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Segoe UI", sans-serif;
}

/* Navbar */

.navDiv {
  width: 98%;
  max-width: 1480px;
  margin: auto;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #a8f1ff;

  backdrop-filter: blur(10px);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  box-shadow: var(--shadow);
  position: sticky;
  top: 10px;
  z-index: 1000;
}

/* Navbar Theme */

.navDiv.light {
  background-color: #a8f1ff;
}

.navDiv.dark {
  background-color: #0f172a;
  border: 1px solid #334155;
}

.light .navLink {
  color: #111827;
}

.dark .navLink {
  color: #f8fafc;
}

.light .navLink:hover {
  color: darkorange;

}

.dark .navLink:hover {
  color: #38bdf8;

}

.light .themeIcon {
  color: #111827;
}

.dark .themeIcon {
  color: #facc15;
}
/* Logo */

#Logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

/* Navigation Links */

.navLink {
  text-decoration: none;
  color: var(--link-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}



/* Theme */
.appContainer.light {
  background-color: #f8fafc;
  color: #111827;
  min-height: 100vh;
}

.appContainer.dark {
  background-color: #0f172a;
  color: white;
  min-height: 100vh;
}

.themeIcons {
  display: flex;
  align-items: center;
}

.themeIcon {
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.themeIcon:hover {
  transform: scale(1.1);
}

.light .themeIcon {
  color: #111827;
}

.dark .themeIcon {
  color: #facc15;
}

.light {
  --page-bg: #f9dfdf;
  --card-bg: white;
  --text-main: #0f172a;
  --text-secondary: #334155;
}

.dark {
  --page-bg: #0f172a;
  --card-bg: #1e293b;
  --text-main: white;
  --text-secondary: #cbd5e1;
}

/* Tablet */

@media (max-width: 768px) {
  .navDiv {
    padding: 12px 20px;
    flex-wrap: wrap;
    gap: 12px;
  }

  #Logo {
    width: 80px;
  }

  .navLink {
    font-size: 0.95rem;
    padding: 8px 12px;
  }
}

/* Mobile */

@media (max-width: 480px) {
  .navDiv {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  #Logo {
    width: 70px;
  }

  .navLink {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
}
